@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Akronim', cursive;
    font-size: 8rem;
    color: #fff;
}

.text-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.text-title-xs {
    font-family: 'Akronim', cursive;
    font-size: 4rem;
    color: #fff;
}

.text-subtitle-xs {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #fff;
}

.bg-title {
    background: url('../img/banner.jpg') center center no-repeat;
}

.bg-title-xs {
    background-image: linear-gradient(to bottom right, #192a56, #40739e);
}

.bg-footer {
    background: #2c3e50;
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #192a56, #40739e);
}

.mt-n6 {
    margin-top: -4rem;
}

.text-span {
    z-index: 99;
    position: absolute;
}