@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Akronim', cursive;
    font-size: 8rem;
    color: #fff;
}

.text-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.bg-title {
    background: url('../img/banner.jpg') center center no-repeat;
}

.bg-contato {
    background: url('../img/fale-conosco.png');
    background-size: cover;
    background-position: center center;
}

.bg-sobre {
    background: url('../img/sobre.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-footer {
    background: #2c3e50;
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #192a56, #40739e);
}

.mt-n6 {
    margin-top: -4rem;
}

.text-span {
    z-index: 99;
    position: absolute;
}

.icon-sobre {
    font-size: 5rem;
}

.year {
    font-size: 5rem;
    font-weight: 900;
}

.img-banner {
    height: 30rem;
    min-height: 30rem;
    max-height: 30rem;
    object-fit: cover;
}


/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */

@media (max-width: 576px) {
    .text-title {
        font-family: 'Akronim', cursive;
        font-size: 4rem;
        color: #fff;
    }
    .text-subtitle {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        color: #fff;
    }
    .bg-title {
        background-image: linear-gradient(to bottom right, #192a56, #40739e);
    }
    .bg-contato {
        background-image: linear-gradient(to bottom right, #006266, #12CBC4);
    }
    .bg-sobre {
        background-image: linear-gradient(to bottom right, #6F1E51, #B53471);
    }
}


/* Dispositivos médios (tablets com 768px ou mais) */

@media (max-width: 768px) {}


/* Dispositivos large (desktops com 992px ou mais) */

@media (max-width: 992px) {}


/* Dispositivos extra large (desktops grandes com 1200px ou mais) */

@media (max-width: 1200px) {}